<div class="modal-header">
    <h5 class="modal-title">#{label-multi-input-title}</h5>
    <button type="button" class="close" data-dismiss="modal">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <span>#{label-comment}</span>
        <form>
            <div style="margin-bottom:10px">#{label-tel-your-friends}</div>
            <div class="form-group" data-dlg-multi-prop="userFriends" data-dlg-ref="userNames" data-dlg-ref-id="id" data-dlg-ref-disp="name">
            </div>
        </form>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dlg-action="apply">#{label-ok}</button>
    <button type="button" class="btn btn-secondary" data-dlg-action="cancel">#{label-cancel}</button>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dlg-action="something">ANOTHER ACTION
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">NO ACTION DISMISS</button>

</div>
