<div class="modal-header">
    <h5 class="modal-title">#{label-single-input-title2}</h5>
    <button type="button" class="close" data-dismiss="modal">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <span>#{label-comment}</span>
        <!-- best friend -->
        <div class="form-group">
            <label class="col-form-label">#{label-tel-your-best-prefecture}</label>
            <select data-dlg-input-type="text" data-dlg-prop="userBestPrefecture" data-dlg-ref="prefectures-object"
                    data-dlg-ref-id="id" data-dlg-ref-disp="name" class="form-control">
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dlg-action="apply">#{label-ok}</button>
    <button type="button" class="btn btn-secondary" data-dlg-action="cancel">#{label-cancel}</button>
</div>
