<div class="modal-header">
    <h5 class="modal-title">#{dlg-ex9-sho-ext-dlg-lb-title}</h5>
    <button type="button" class="close" data-dismiss="modal">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div style="margin-bottom:10px">#{dlg-ex9-sho-ext-dlg-lb-edit-user}</div>
        <div class="form-group" data-dlg-prop="personId" data-dlg-ref="persons" data-dlg-ref-id="id"
             data-dlg-ref-disp="name">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dlg-action="apply">#{label-ok}</button>
    <button type="button" class="btn btn-secondary" data-dlg-action="cancel">#{label-cancel}</button>
</div>
